<!-- templates/layout/head-css.html -->
<th:block th:fragment="commonCss">
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{/assets/css/main.css}" rel="stylesheet"> <!-- 너의 커스텀 스타일 -->
  <!-- 아이콘 폰트 (별점 사용을 위해) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</th:block>